*
!.gitignore
!peer-app/
!peer-app/benchmarks/
!peer-app/benchmarks/**
!peer-app/cmd/
!peer-app/cmd/tss_peer/
!peer-app/cmd/tss_peer/**
!peer-app/cmd/cert_client/
!peer-app/cmd/cert_client/**
!peer-app/go.mod
!peer-app/go.sum
!deployment/
!deployment/add-peer.sh
!deployment/generate.sh
!deployment/setup-host.sh
!deployment/create-channel.sh
!deployment/openssl-generate.sh
!deployment/network-config.yaml
!chaincode/
!chaincode/decentralized_pki.go
!chaincode/go.mod
!chaincode/go.sum
